@import '../../styles/openColor.scss';

.func{
    display: inline-flex;
    color: white;
    font-weight: bold;
    outline: none;
    border-style: solid;
    border-radius: 4px;
    border-color: $oc-red-4;
    background-color: $oc-red-3;
    cursor: pointer;
    padding: 2em;
}